.contato{
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}
.contato__icons{
    display: flex;
    width: 100%;
    margin-bottom: 1rem;
    margin-right: .6rem;
    color: var(--paragrafos);
}
.contato__icons img{
  
    margin-right: 1rem;
    
}
.container__icons__contato {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    padding-bottom: 2rem;
}
